<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.compose_shot_sample.test"
    android:sharedUserId="com.example.compose_shot_sample.uid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>